<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<form action="/members/new" method="post">
    <div class="form-group">
        <label for="name">이름</label>
        <input id="name" name="name" placeholder="이름을 입력하세요." type="text"/>
        <button type="submit">등록</button>
    </div>
</form>
</body>
</html>